<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body style="text-align: center">
    <h1>Hello, everyone. This is my little blog</h1>
    {% if request.user.is_authenticated %}
    <div>
        <span>
            Hi! {{ request.user.first_name }}
        </span>
        <span>
            <a href="create-post">Add post</a>
        </span>
    </div>
    {% else %}
    <p><a href="http://127.0.0.1:8000/users/login/">Login here</a></p>

    {% endif %}
<div style="text-align: center">
    <form action="blog/" enctype="multipart/form-data">
<ul>
    {% for i in posts %}
    <li>
        <a href="/blog/{{ i.id }}">
        <h3>{{ i.title }}</h3>
        </a>
            <p><img src="{{ i.image.url }}"></p>
            <p>{{ i.descr }}</p>
            <p>{{ i.hashtag }}</p>
            <p>{{ i.comments }}</p>


        {% if request.user.is_authenticated %}
        <p>
        <label for="comments">Add comment</label>
        <input id="comments" name="comments" type="text">
        <input type="submit" value=">">
        </p>
        {% else %}
        You have to be logged in!
        {% endif %}
    </li>
    {% endfor %}
</ul>
    </form>
    </div>
</body>
</html>